script.
    // App.pug
    let views = ["home", "mindmap", "freetext", "venn", "others"]
    let currentView = "home"

    const setView = (viewId) => currentView = viewId

main
    nav.navbar.navbar-inverse.navbar-fixed-top
        .container
            .navbar-header
                button(
                    type="button"
                    class="navbar-toggle collapsed"
                    data-toggle="collapse"
                    data-target="#navbar"
                    aria-expanded="false"
                    aria-controls="navbar"
                )
                    span.sr-only Toggle Navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a(
                    class="navbar-brand"
                ) Write Aid
                    small v0.5

            #navbar.collapse.navbar-collapse
                ul.nav.navbar-nav
                    li( class="{ currentView == 'home' ? 'active' : ''}")
                        a(href="#" "on:click|preventDefault"="{ setView.bind(this,'home') }") Word Search
                    li( class="{ currentView == 'mindmap' ? 'active' : ''}")
                        a(href="#" "on:click|preventDefault"="{ setView.bind(this,'mindmap') }") Mindmap
                    li( class="{ currentView == 'freetext' ? 'active' : ''}")
                        a(href="#" "on:click|preventDefault"="{ setView.bind(this,'freetext') }") Free Text
                    li( class="{ currentView == 'venn' ? 'active' : ''}")
                        a(href="#" "on:click|preventDefault"="{ setView.bind(this,'venn') }") Venn Diagram
                    li( class="{ currentView == 'others' ? 'active' : ''}")
                        a(href="#" "on:click|preventDefault"="{ setView.bind(this, 'others') }") Others

    .container
        .starter-template
            {#if currentView == "home"}
              h1 Home

            {#if currentView == "mindmap"}
              h1 Mindmap

            {#if currentView == "freetext"}
              h1 Free Text

            {#if currentView == "venn"}
              h1 Venn D

            {#if currentView == "others"}
              h1 Others
style.
    .navbar-brand small {
        font-size: 0.5em;
        margin-left: 5px;
    }

