script.
    // OthersView.pug
    import { mainWord } from './stores.js'

    let wordStr = ""
    let fromWord = ""
    let toWord = ""

    const getDefaultCategories = () => {
        let _defaultCategories = [
            {
                id: "meaning_of",
                label: `Meaning Of ${wordStr ? '"' + wordStr + '"' : ''}`,
                links: [
                    {
                        source: "Merriam-Webster",
                        url: `https://www.merriam-webster.com/dictionary/__WORD__`
                    },

                    {
                        source: "Dictionary.com",
                        url: `https://www.dictionary.com/browse/__WORD__`
                    },

                    {
                        source: "Wikipedia",
                        url: `https://en.wikipedia.org/wiki/__WORD__`
                    }
                ]
            },

            {
                id: "phrases",
                label: `Phrases for ${wordStr ? '"' + wordStr + '"' : ''}`,
                links: [
                    {
                        source: "The FREE Dictionary",
                        url: `https://idioms.thefreedictionary.com/__WORD__`
                    },

                    {
                        source: "Phrases.org.uk",
                        url: "https://www.phrases.org.uk/phrase-thesaurus/related/__WORD__.html"
                    }
                ]
            },

            {
                id: "synonyms",
                label: `Synonymns of ${wordStr ? '"' + wordStr + '"' : ''}`,
                links: [
                    {
                        source: "Thesaurus.com",
                        url: "https://www.thesaurus.com/browse/__WORD__"
                    }
                ]
            },

            {
                id: "in_the_news",
                label: `${wordStr ? '"' + wordStr + '"' : ''} In the News`,
                links: [
                    {
                        source: "Google News",
                        url: `https://news.google.com/search?q=__WORD__&hl=en-US&gl=US`
                    },

                    {
                        source: "Bing News",
                        url: `https://www.bing.com/news/search?q=__WORD__`
                    },

                    {
                        source: "Yahoo! News",
                        url: `https://news.search.yahoo.com/search?p=__WORD__`
                    }
                ]
            }
        ]

        return _defaultCategories
    }

    let otherCategories = getDefaultCategories()

    const genLinksForCategories = () => {
        otherCategories = getDefaultCategories()

        for(let catCnt=0; catCnt<otherCategories.length; catCnt++) {
            let categ = otherCategories[catCnt]

            for(let lnkCnt=0; lnkCnt<categ.links.length; lnkCnt++) {
                let link = categ.links[lnkCnt] 
                link.url = link.url.replace("__WORD__", wordStr)
            }
        }

        otherCategories = otherCategories
    }

    PubSub.subscribe("mainWordChange", (wordObj) => {
        wordStr = wordObj.mainWord || ""
        genLinksForCategories()
    })

section.others-view
    form
        .row
            .col-lg-10.col-md-8
                input(type="text" 
                  class="form-control input-lg" 
                  placeholder="Add source word for the links"
                  bind:value="{wordStr}")
            .col-md-2
                button(class="btn btn-primary btn-lg btn-block" "on:click|preventDefault"="{ genLinksForCategories }") Update

    hr

    .panel-wrapper
        {#each otherCategories as category}  
          .panel.panel-default
            .panel-heading 
                h3 {category.label}
                ul
                    {#each category.links as link}
                      li
                          a(href="{link.url}", target="_blank") {link.source}

    hr

    h3 6 Degrees of Wikipedia

    p Type in 2 words and find the connection between them on Wikipedia pages

    form
        .row 
            .col-lg-5
                input(type="text" 
                  class="form-control input-lg" 
                  placeholder="From word"
                  bind:value="{fromWord}")
            .col-lg-5
                input(type="text" 
                  class="form-control input-lg" 
                  placeholder="To word"
                  bind:value="{toWord}")
            .col-md-2
                a(class="btn btn-primary btn-lg btn-block" target="_blank" href="https://www.sixdegreesofwikipedia.com/?source={fromWord}&target={toWord}") Go

    hr

style.    
    .others-view .panel-wrapper {
        display: flex;
        flex-flow: row wrap;
        justify-content: justify;
        gap: 10%;
    }

    .others-view .panel-default>.panel-heading {
        height: 100%;
    }

    .others-view .panel-wrapper ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .others-view li {
        margin: 0;
        padding: 5px 0;
    }

    .others-view h3 {
        margin-top: 5px;
    }

    @media only screen and (max-width: 992px) {
        .others-view .panel-wrapper {
            flex-direction: column;
        }
    }